.sidenav {
    width: 250px;
    background-color: #eee;
    margin: 0;
    padding: 0;
    height: 100%; 
    position: fixed;
}
.sidenav a{
    color: black;
    display: block;
    padding: 7%;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidenav a:hover{
    background-color: #bbbbbb;
}
.sidenav a.active{
    background-color: royalblue;
    color: white;
}